.container {
    width: 100%;

    .corpo {
        z-index: 91;
        height: 100vh;

        .texto {
            max-width: 31.25rem;
        }

        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content: space-around;

        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 3.85rem;
            line-height: 4.6875rem;
            text-align: center;
        }

        a {
            font-size: 1.25rem;
            line-height: 2.625rem;
            display: flex;
            align-items: center;
        }

        img {
            width: 43.25rem
        }

    }
}