.scrollingContainer {
    scroll-behavior: smooth;
    overflow: hidden;


    BlockHome {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        margin: 0;
        padding: 0;
    }
}