.body {
	overflow: hidden;
	background: var(--gray-50);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
    background-image: url('/blob4.svg');
    background-repeat: no-repeat;
    background-size:130%;
    background-position-x: -40%;
    background-position-y:35%;
  
    .container {
    background-color: var(--white);
	border-radius: 10px;
	box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.12);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	transition:0.6s;
    h1 {
        font-weight: bold;
        margin: 0;
    }
    h2 {
        text-align: center;
    }
    p {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }
    span {
        font-size: 12px;
    }
    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }
    button {
        border-radius: 20px;
        border: 1px solid var(--pink-400);
        background-color: var(--pink-400);
        color: black;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        &:active{transform: scale(0.95);}
        &:focus {outline: none;}
        .ghost{.ghost {
            background-color: transparent;
            border-color: black;
        }}
    }
    form {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 80px;
        height: 100%;
        text-align: center;
    }
    input {
        border: none;
        border-bottom: 2px solid var(--pink-400);
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
        &:focus{
            outline: none;
        }
    }
    .signInContainer {
        left: 0;
        width: 50%;
        z-index: 2;
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }
    

    .signUpContainer {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }
    
    .overlayContainer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
        transition: 0.6s;
    }
    
    .overlay {
        background: var(--pink-400);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #ffffff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .overlayLeft {
        transform: translateX(-20%);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }
    

    .right{
        width: 45%;
        transition:0.6s;
    }
    .overlayRight {
        right: 0;
        transform: translateX(0);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }
    
    .socialContainer {
        margin: 20px 0;
        a {
            border: 1px solid #dddddd;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            height: 40px;
            width: 40px;
        }
    }

    
}
.rightPanelActive 
{
    transition:0.6s;
    width: 868px;
    max-width: 100%;
    min-height: 580px;
    .overlayLeft {
        transform: translateX(0);

    }
    .overlay {

        transform: translateX(50%);
        
    }
    .overlayRight {
       
        transform: translateX(20%);
    }
    .overlayContainer {
        transform: translateX(-112%);
    }
    .signInContainer {
        transform: translateX(100%);
    }
    .signUpContainer {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
        animation-fill-mode: forwards; 
    }
    @keyframes show {
        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }
        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }
}
}
