.productsContainer {
    background: var(--gray-50);
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url('/blob4.svg');
    background-repeat: no-repeat;
    background-size:130%;
    background-position-x: -40%;
    background-position-y:30%;

    .ul {
        list-style-type: disc;
        margin-block-start: 12rem;
        margin-block-end: 1em;
        margin-inline: 0.625rem;
        padding-inline: 1.5rem;
        align-items: baseline;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;

        li {
            animation:fade-in 0.4s ease-in-out;
            list-style: none;
            display: list-item;
            text-align: -webkit-match-parent;
            width: var(--item-width);
            margin-right: var(--item-right);
            margin-left: var(--item-left);
            margin-bottom: var(--item-bottom);
            img {
                width: 100%;
            }
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
          transform: translatey(20px);
        }
        to {
            opacity: 1;
          transform: translatey(0);
        }
      }

    @media screen and (max-width: 1080px) {
        .ul {
            display: flex;

            list-style-type: disc;
            margin-block-start: 12em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
            padding-inline-end: 0px;
        }

        ul li:nth-of-type(2n) {
            margin-left: 0px;
            margin-right: 20px;
        }
    }

    &::-webkit-scrollbar {
        width: 0.000001em;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: aqua;
        border: radius 10px;
    }
}