.containerDetails{
    
    background: var(--gray-50);
    display: flex;
    flex-direction: row;
    width: 100%;height: 92.5vh;
    justify-content: center;
    align-items: center;
    margin-block-start: 7.5vh;
    background-image: url('/blob4.svg');
    background-repeat: no-repeat;
    background-size:130%;
    background-position-x: -40%;
    background-position-y:37.81%;


    .slider-wrapper{
        display: block;
    }

    h3{
        margin-block: 1rem;
    }
    .txt{
        font-size:20px;
        text-align: left;
        text-align: justify;
      }
    .info{
        max-width: 20%;
    }
    .imputArea{
        display: flex;justify-content:space-between;
        margin-block: 2.5rem;
    }   
    button {
  
        margin-block-start: 1.5em;
          border-radius: 20px;
          border: 1px solid var(--pink-400);
          background-color: var(--pink-400);
          color: black;
          font-size: 12px;
          font-weight: bold;
          padding: 12px 45px;
          letter-spacing: 1px;
          text-transform: uppercase;
          transition: transform 80ms ease-in;
      }
      input:focus{outline: none;}
      .dropdown{
          
          width: 100%;
          border-radius:6px;
          font-size:20px;
          line-height: 1.42857143;
          height: 34px;
          border: 2px solid var(--gray-100);
          &:focus{outline: none;}
      }
    @media (max-width: 1080px) {
        flex-direction: column;
        .info{
            max-width: 80%;
        }
    }
}