.mySearch{
    display: flex;align-items: center;justify-content: space-between;width: 100%;height: 5.75rem;position: fixed;top: 4.5rem;z-index: 99;
    left: 0;background: var(--pink-400);flex-direction: column;transition:0.5s;

    input{
        border:none;border-bottom: 2px solid;margin-left: auto;margin-right: auto;
        height:50px;width:70%;background-color: transparent;padding:1rem;font-size:20px;color:var(--white);opacity: 0.5;
        &:focus{opacity: 1;}
    }
    a{
        margin-left: 15px;margin-right: 15px;font-size: 16px;line-height: 30px; color:var(--white);
    }
    .text{
        display: flex;align-items: center;justify-content: space-between;width: 100%; margin-top: 10px;padding-inline: 17rem;
    }
    .click{
        text-transform: uppercase;
        text-decoration: none;
        color:var(--white);
        cursor: pointer;
    }
}
