.headerContainer {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--pink-400);
    height: 4.5rem;
    padding-inline: 2.5rem;

    img {
        height: 3rem;
        width: 3rem;
    }

    nav {
        a {
            text-decoration: none;
            color: var(--white);
            margin-inline: 1.2rem;

            &:last-child {
                margin-inline: 1.2rem;
            }
        }

        path {
            max-width: 16px;
            font-size: 16px
        }
    }

    .Link:hover {
        cursor: pointer;
    }

    @media (max-width: 450px) {
        font-size: 85.5%;

        nav {
            a {
                margin-inline: 1rem;

                &:last-child {
                    margin-inline: 1rem;
                }
            }
        }
    }

    @media (max-width: 420px) {
        font-size: 75%;

        nav {
            a {
                margin-inline: 0.8rem;

                &:last-child {
                    margin-inline: 0.8rem;
                }
            }
        }
    }

    @media (max-width: 375px) {
        font-size: 70%;

        nav {
            a {
                margin-inline: 0.6rem;

                &:last-child {
                    margin-inline: 0.6rem;
                }
            }
        }
    }

    @media (max-width: 300px) {
        font-size: 53%;

        nav {
            a {
                margin-inline: 0.4rem;

                &:last-child {
                    margin-inline: 0.4rem;
                }
            }
        }
    }
}