.headerContainer {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--pink-500);
    background: var(--pink-400);
    height: 4.5rem;
    padding-inline: 2.5rem;

    img {
        height: 3rem;
        width: 3rem;
    }

    nav {
        a {
            text-decoration: none;
            color: black;
            margin-inline: 1.5rem;

            &:last-child {
                margin-inline: 1.5rem 0;
            }
        }
    }

    .Link:hover {
        cursor: pointer;
    }
}