
.numberInput[type=number]::-webkit-inner-spin-button { 
        
    all: unset; 

    min-width: 21px;
    min-height: 45px;
    margin: 17px;
    padding: 0px;
    background-image: 
    linear-gradient(to top, transparent 0px, transparent 16px, #7ee6ae 16px, #7ee6ae 26px, transparent 26px, transparent 35px, #000 35px,#000 36px,transparent 36px, transparent 40px),
    linear-gradient(to right, transparent 0px, transparent 10px, #000 10px, #000 11px, transparent 11px, transparent 21px);
    transform: rotate(90deg) scale(0.8, 0.9);
    cursor:pointer;
  }
.numberInput{
    color: #000;
    font-size: 20px;
    padding: 6px;
    border: none;
    background: transparent;
    border-bottom: 2px solid;
    width: 7rem;
}